body{
    background-color:rgb(255, 255, 255);
}

.header
{
    display: flex;
    background-color: #1f2937;
   
    justify-content: center;
    position: relative;
}
button{
    display: flex;
    justify-content: center;
    background-color: #4F46E5;
    color:whitesmoke ;
    border: #1f2937;
    border-radius: 2%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
button:hover{
    background-color: #362ddd;
}
button:active{
    background-color: #1f16ce;
}
button svg{
    margin-top: 2%;
}
button p{
  width: 100%;
}

h1{

font-size: 40px;
color: whitesmoke;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
#book-dialog{
    background-color: rgb(219, 245, 245);
    border-radius: 6%;
    margin-top: 14%;


    .form-group{
        margin-bottom: 6%;
        input{
            height: 25px;
            font-size: 16px;
        }
        
    }
    #title{
        margin-left: 8%;
    }
    #pages{
        margin-left: 1%;
        
    }
    h3{
    font-size: 24px;
    text-align: center;
    color: rgb(33, 137, 33);
    font-weight:900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
    label{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 24px;
      
        
    }  
    input{
      
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 15px;
      transition: border-color 0.3s ease;
    } 
    .btn-submit{
        display: flex;
        justify-content: center;
    } 

    .submit{
      
        width: 80%;
        padding: 2%;
        border: #1f2937;
        border-radius: 5%;
        font-size: 16px;
        color:whitesmoke;
        
    }  
}
#book-list{
    display: flex;
    gap: 50px;
    margin-left: 2%;
    flex-wrap: wrap;
}
h2{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.book-card{
 
    width: 25vh;
    column-gap: 0px;
    background-color: rgb(219, 245, 245);
    padding: 2%;
    border-radius: 4%;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    div{
        margin-left: 4%;
        .delete-btn{
           width: 100%;
           border-radius: 5%;
           padding: 2%;
           background-color: rgb(251, 67, 67);
          
        }
        .delete-btn:hover{
            background-color: rgb(200, 36, 24);
        }
        .delete-btn:active{
            background-color: rgb(225, 0, 0);
        }
        
    }

}